# Exclude everything
/*

# Except for default project files
!/.github
!/build-aux
!/cmake
!/data
!/src
!.clang-format
!.gersemirc
!.gitignore
!buildspec.json
!CHANGELOG.md
!CMakeLists.txt
!CMakePresets.json
!LICENSE
!README.md

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber

# local build + release artifacts
build_local/
release/*.zip
release/*.pkg
._*
.DS_Store
!build-local-macos.sh
!package-macos.sh
!/installer
